body{
  background-color: #E1FBB2;
}
.panel{
  border-radius: 5px;
  border-color: #465A60;
  box-shadow: 0px 0.5px 0.5px 0.5px #4A3B3B;
}
.panel-info>.panel-heading{
  background-color: #8CD898;
}
.btn-group .btn-info{
  background-color: #4A3B3B;
  border-color:#362d2d;
  color: #eff0df;
}
.table{
  border-radius: 5px;
}
.table>tbody> tr.info>th{
  background-color: #C6A16B;
}
.login{
  background-color: #8CD898;
  border-radius: 4px;
  box-shadow: 0px 0.5px 0.5px 1px #4A3B3B;
}
.inputs{
  background-color: #b19369;
}
.btn-base{
  background-color: #4d3d30;
  border-color:#473b31;
  box-shadow:  0px 0.5px 0.5px 1px #473b31;
  color: #E1FBB2;
  width: auto;
}
.btn-base:hover, .btn-base:focus{
  background-color: #4A3B3B;
  border-color: #3d3333;
  color: #f4f5f1;
  box-shadow:  0px 0.5px 0.5px 1px #3d3333;
}
.btn-base:active{
  border-color: #f0d692;
}
.titulo{
  background-color: #399892;
  color: #ffffff;
  text-shadow: -1px 1px 1px #f7f7f4;
  border-radius: 0.7rem;
  box-shadow: -2px 2px 2px #5cb3ad;
}
