
#form
{
    margin: 0 auto;
    background-color: rgb(32, 78, 198);
    padding: 30px 20px 30px 20px;
    width: 30%;
    margin-top: 10%;
}

input[type="text"]
{
  text-align: center;
}

input[type="password"]
{
  text-align: center;
}
